/* Global Styles */

* {
    Box-sizing: border-box;
    }
    
    body {
        font-family: 'Fugaz One', cursive;
        background: #fff;
    }
    
    h1 {
        font-family: 'Monoton', cursive;
        background: #ccffcc 90%;
        color: #000;
        margin: 0 0 30px 0;
        padding: 30px 0;
        text-align: center;
        font-size: 3em;
      }
    
    hr {
        border-color: #000;
    }
      
    
    h2, 
    footer {
        text-align: center;
    
    }
    
    fieldset {
        margin-bottom: 30px;
        border: none;
    }
      
    input[type="text"],
    input[type="email"],
    input[type="number"],
    input[type="tel"],
    textarea,
    select {
        background: rgba(255,255,255,0.1);
        border: none;
        font-size: 16px;
        height: auto;
        margin: 0;
        outline: 0;
        padding: 15px;
        width: 100%;
        background-color: #e8eeef;
        color: #000;
        box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
        border-radius: 10px;
        margin-bottom: 1em;
        flex: 1;
        resize: none;
      }  

/* Psuedo Styles */

*:focus {
    outline: none;
  }

input:focus,
select:focus,
textarea:focus {
  transition: ease .2s;
  transform: scale(1.02);
  background-color: #a8e3e6;
  transform-origin: 100% 0%;
}

.sbtn:hover,
.rbtn:hover {
  transform: scale(1.1);
  transition: ease .2s;
  cursor: pointer;
}

.resetButton:hover {
  border-bottom: 5px solid #a42700;
  background-color: #fb4545;
}

input::placeholder {
    text-align: right;
}
    
    
/* Wrap Styles */
    
    .container {
        width: 90%;
        margin: auto;
        background: linear-gradient(to top, #003366 0%, #ccffcc 100%);
        padding-top: 5px;
        font-weight: bold;
    }
    
    
/* Class Styles */

    .header {
        font-size: 1.25em;
        font-weight: bold;
        margin: 20px 0;
        padding-top: 1em;
    }

    .header2 {
        font-size: 1.25em;
        font-weight: bold;
    }
    
    .intro {
        text-align: center;
    
    }
    
    .info {
        border-bottom: 2px solid black;
        padding: 20px 20px;
    }
    
    .info2 {
        padding: 0 20px;
    }

    .btn {
        text-align: center;
        margin: 5px;
        
    }
    
    .sbtn,
    .rbtn {
        text-align: center;
        padding: 15px 30px;
        color: white;
        margin-bottom: 1em;
        font-size: 1em;
        display: inline;
    }

    .sbtn {
        background-color: green;
        margin-right: 4px;
    }

    .rbtn {
        background-color: red;
        margin-left: 4px;
    }
    
    .main-footer {
        background: #003366;
        margin: 30px 0 0 0;
        padding: 30px 0;
        font-weight: bold;
    }
    
    #zip {
        width: 50%;
        margin-right: auto;
    }

    .info, 
    .flex-div,
    .zip-sec {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1;
    }
    
    .info label {
        margin-bottom: 10px;
    }

    .info input {
        height: 50px;
    }

    

    /* Media Queries */
    
    @media (min-width: 768px) {
    
        .container {
            max-width: 800px;
        }
    
        .flex-div {
            display: flex;
            flex-direction: row;
        }   
    
        .info input select {
            flex-grow: 1;
            flex-basis: 75%;
        }

        .info label {
            flex-basis: 25%;
            height: 50px;
            margin: auto 0;
        }
        
        #zip {
            max-width: 25%;
        }
       
    
    }